@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.containerCards {
    display: flex;
    justify-content: space-evenly;
    /* Lo posicionamos en relación a todo el contenedor */
    position: absolute;
    /* Centramos a la mitad de la pantalla */
    top: 50%;
    left: 50%;
    /* Lo desplazamos para alinearlo */
    transform: translate(-50%, -50%);
}

.cardContainer {
    margin: 10px 30px;
    width: 300px;
    height: 450px;
    border-radius: 5px;
    border: 3px solid;
    border-image: linear-gradient(to bottom, #a7a4a4, #000000) 1;
}

.logo {
    margin: 20px auto;
    width: 70px;
    height: 70px;
}

.titleRed {
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    height: 50px;
}

.textDescription {
    text-align: center;
    height: 100px;
    margin-right: 20px;
    margin-left: 20px;
}

.button {
    background-color: rgb(25, 24, 24);
    height: 50px;
    margin: auto;
    margin-top: 60px;
    width: 260px;
    border-radius: 50px;
    position: relative;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.buttonRead {
    position: absolute;
    top: 50%;
    left: 50%;
    /* Lo desplazamos para alinearlo */
    transform: translate(-50%, -50%);
}


.cardContainer:hover {
    background-color: #E2306C;
    color: aliceblue;
    border: 0vw;
    transition: 0.2s;
}

.cardContainer:hover .button {
    background-color: aliceblue;
    color: #E2306C;
    transition: 0.2s;
}

.cardContainer:hover .logosvg {
    fill: aliceblue;
}

.youtube {
    width: 80px;
}